[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
flwr = {extras = ["simulation"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
